@import '../../sass/abstracts/variables';


.side-menu {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    height: 100vh;
    background: $bg-white;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgba($bg-grey, 1);
    transition: all .1s ease-in-out;


    &__logo-container {
        display: flex;
        border-bottom: 1px solid rgba($bg-grey, 1);
        padding: 0 50px;


        &--arrow {
            justify-content: center;
            align-self: center;
            font-size: 2rem;
            padding-left: 50px;
            color: $primary-color;
            cursor: pointer;
        }

        &--arrow:hover {
            color: $secondary-color;
        }
    }

    &__menu-items {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        

        &--element {
            padding: 15px 35px 15px 30px;
            font-size: 16px;
            font-weight: 600;
            vertical-align: middle;

            .menu-icons {
                font-size: 1.5rem;
                padding-right: 20px;

            }
        }

        &--element:hover {

            a, .menu-icons {
                color: $secondary-color;
            }


            background: rgba($secondary-color, .05);
            border-right: 3px solid $secondary-color;
        }

        &--element--active {
            a, .menu-icons {
                color: $secondary-color;
            }


            background: rgba($secondary-color, .05);
            border-right: 3px solid $secondary-color;
         }
    
    }


    &--hidden {
        max-width: 135px;
        padding : 0;

        .side-menu__logo-container{
            max-width: 135px;
            padding: 0;


            &--arrow {
                padding: 0;
            }
        }

        .side-menu{
            &__menu-items{
                &--element {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;

                    a { padding : 0 ;}
                }
            }
        }

    }


}