@import '../../sass/abstracts/variables';


.btn {
    background: rgba($primary-color, .3);
    border: 0;
    border-radius: 5px;
    box-shadow: -1px 1px 1px 0px rgba($primary-color, .4);
    color: rgba($secondary-color, .9);
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 10px;
    padding : 10px 20px;
    transition: all .3s ease-in-out;


    &--reverse {
        background: rgba($secondary-color, .7);
        box-shadow: -1px 1px 1px 0px rgba($secondary-color, .7);
        color: rgba(#fff, .9);
    }

}

.btn:hover {
    background: rgba($primary-color, .60);
    color: rgba($secondary-color, 1);

    
}

.btn--reverse:hover {
    background: rgba($secondary-color, 1);
    color: rgba(#fff, 1);
}