body {
    background: #F6F7FB;
    
}

.App {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.side-menu {
    grid-row: 1/6;
    grid-column-start: 1;
}

.top-bar {
    grid-row-start: 1;
    grid-column: 2/8;
}

.main-pages {
    grid-column: 2/8;
    grid-row: 2/6;
    margin: 0 30px;
}
