

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #288AED;
}



ul,li,a {
    padding: 0;
    margin: 0;
}

a, li {
    text-decoration: none;
}

a, a:active {
    color: #737687;
    cursor: pointer;
}

svg {
    color: #B7B9C6;
    vertical-align: middle;
}


li {
    list-style-type: none;
}